html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    .wrapper {
      height: 100%;
      overflow: auto;
      display: flex;
      .slider {
        flex: 1;
      }
      .content {
        flex: 4;
        padding: 30px;
        .header {
          margin-bottom: 30px;
        }
      }
    }
  }
}