$default-margin: 8px;
$default-padding: 12px;
$default-border-color: #d9d9d9;
$default-border-radius: 6px;
$filter-bg-color: #fbfbfb;

$size-small: 12px;
$size-middle: 14px;
$size-large: 16px;

$padding-small: 0 7px;
$padding-middle: 2px 9px;
$padding-large: 4px 11px;

$min-height-small: 22px;
$min-height-middle: 26px;
$min-height-large: 30px;
